{
  "presets": [
    "react-app",
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    // ↓↓ must be defined last ↓↓
    "@compiled/babel-plugin"
  ]
}
